<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Page</title>
</head>
<body>
    <p>Hi, welcome to the To-Do Page</p>
    
<div class="centred"><!--we have given class name so that anything with that name will be applicable here
    as we have given styling in style section with same class name-->

    <form action="/" method="POST"> <!-- we are puting action after user hits submit button, it will route to /submit page which is reated in flask api
        the method is post(Data is sent in the body (hidden from URL)) -->
        <label for="item_name">Item Name</label> <!--name is the arg here which we will use in flask as well-->
        <input type="text" name="item_name" id="name1" placeholder="Enter Item Name" align="center">
        <br>

        <label for="Item_Description">Item Description</label>
        <input type="text" name="Item_Description" id="Item_Description" placeholder="Enter Item Description" required>
        
        <label for="Item_ID">Item Description</label>
        <input type="number" name="Item_ID" id="ID" placeholder="Enter Item ID" required>
        
        <br>
        <input type="submit" value="Submit">
        
    
    </form>

    
</div>
{% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
</body>

<style>
    body{
        background-color: rgb(235, 224, 246);
    }
    p{
        text-align: center;
        font-style: oblique;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkmagenta;
    }
    .centred {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
</style>
</html>
