<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
</head>
<body>
    <p>Hi, welcome to the Signup form</p>
    <p>Todays Day is {{  var_to_htmlfile1}}</p>
    <p>Time is {{ var_to_htmlfile2}}</p>
</body>
<style>
    body{
        background-color: rgb(200, 169, 230);
    }
    p{
        text-align: center;
        font-style: oblique;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkmagenta;
    }
</style>
</html>
